.wrapper {
  margin-top: $space-large-xxl;
  margin-bottom: $space-small-xxl;
}

.head {
  @include flex-center-horizontally;

  flex-direction: column;
  margin-bottom: $space-medium-xl;
}

.subtitle {
  @include subtitle;

  margin-bottom: $space-small-m;
  font-weight: $fontWeight-xl;
  text-align: center;
}

.title {
  font-size: $fontSize-large-l;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: $space-small-s;
}

.description {
  @include descriptionText;

  text-align: center;
}

.content {
  background: $color-purple;
  padding: $space-medium-s $space-medium-xl;
  display: flex;
  gap: 42px;
  color: $color-white;
}

.schedule {
  flex: 5 2 200px;
}

.contactUs {
  flex: 5 2 200px;
}

.contentInnerBlock {
  margin-top: $space-small-l;
  padding-top: $space-small-l;
  border-top: 1px solid $color-light-grey;
}

.infoText {
  font-size: $fontSize-small-xl;
  font-weight: $fontWeight-s;
  font-family: var(--inter-font);
  line-height: 30px;
  opacity: 0.7;
}

.smallHeading {
  font-size: $fontSize-medium-m;
  line-height: 36px;
}
