.wrapper {
  max-height: 181px;
  width: 100%;
  padding: $space-small-xl $space-small-xxl;

  @media (max-width: $breakpoint-tablet) {
    padding: $space-small-l $space-zero;
  }
}

.info {
  font-size: $fontSize-small-l;
  font-weight: $fontWeight-m;
  line-height: 20px;
  font-family: var(--inter-font);
}

.title {
  @include smallTitle;

  margin-top: $space-small-s;
  max-width: 370px;

  @media (max-width: $breakpoint-tablet) {
    max-width: 100%;
  }
}

.authorLink {
  @include purpleLink;
}
