.wrapper {
  @include container;
  @include appearanceAnimation;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.title {
  @include blockTitle;
  @include flex-center-horizontally;

  margin-bottom: $space-medium-s;
}
