.wrapper {
  @include container;
  @include appearanceAnimation;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.title {
  @include blockTitle;

  text-align: center;
  margin-bottom: $space-medium-s;
}
