.background {
  background: $color-lavender;
  padding: $space-large-s $space-zero;
}

.wrapper {
  @include appearanceAnimation;
  @include container;

  display: flex;
  justify-content: space-between;
}

.content {
  @include flex-direction-column;

  max-width: 624px;
  margin-right: $space-small-xxl;
}

.subtitle {
  @include subtitle;
}

.imageWrapper {
  max-width: 515px;
  height: 359px;
  width: 100%;
  position: relative;
}

.info {
  font-size: $fontSize-small-l;
  font-weight: $fontWeight-m;
  line-height: 20px;
  font-family: var(--inter-font);
}

.postTittle {
  @include blockTitle;

  margin-top: $space-small-xl;
}

.authorLink {
  @include purpleLink;
}

.description {
  @include descriptionText;

  margin-top: $space-small-l;
  margin-bottom: $space-small-xxl;
}

.readMoreLink {
  @include yellowButtonWithDarkBg;
  @include flex-center;
}
