.wrapper {
  @include container;

  margin-top: $space-large-xxl;
}

.shape {
  display: flex;
  justify-content: end;

  height: 23px;
  margin-left: 18%;
  background: $color-yellow;
}

.purpleShape {
  height: 100%;
  width: 28%;
  background: $color-purple;
}

.content {
  @include flex-space-between;

  gap: 61px;
  padding: $space-large-m $space-large-s;
  padding-right: $space-large-l;
  background: $color-lavender;
}

.contentBlock {
  flex: 5 2 300px;
}

.subtitle {
  font-family: var(--inter-font);
  letter-spacing: 3px;
  font-size: $fontSize-small-xl;
  line-height: 20px;
}

.smallTitle {
  margin-top: $space-small-xl;
  margin-bottom: $space-small-l;
  line-height: 40px;
  font-size: $fontSize-large-s;
}

.bigTitle {
  margin-top: $space-small-xl;
  margin-bottom: $space-small-l;
  font-size: $fontSize-large-m;
  font-weight: $fontWeight-l;
  letter-spacing: -1px;
  line-height: 48px;
}

.description {
  @include descriptionText;
}

.readMoreLink {
  display: inline-block;
  margin-top: $space-small-l;
  color: $color-purple;
  font-size: $fontSize-medium-s;
  font-weight: $fontWeight-l;

  &:hover {
    color: $color-red;
  }
}
