.wrapper {
  color: $color-white;
  height: 720px;
  width: 100%;
  background: $color-home-hero-gradient, url('/assets/homeHeroBanner.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  @include container;

  height: 100%;
  padding: $space-large-xxl $space-large-s;
}

.content {
  @include flex-direction-column;
  @include maxSize;

  max-width: 804px;
  height: fit-content;
  color: $color-white;
  font-family: var(--inter-font);
}

.subtitle {
  font-size: $fontSize-small-xl;
  letter-spacing: 3px;
  font-weight: $fontWeight-s;
}

.title {
  font-family: var(--sen-font);
  font-size: $fontSize-large-xl;
  letter-spacing: -2px;
  line-height: 64px;
  margin: $space-small-xl $space-zero;
}

.info {
  font-size: $fontSize-small-xl;
}

.authorNameLink {
  color: $color-yellow;

  &:hover {
    color: $color-red;
  }
}

.description {
  font-size: $fontSize-small-xl;
  font-weight: $fontWeight-s;
  line-height: 28px;
  margin: $space-small-l $space-zero;
}

.readMoreLink {
  @include flex-center;
  @include yellowButton;

  margin-top: $space-small-xxl;
}
