.wrapper {
  color: $color-white;
  height: 720px;
  width: 100%;
  background: $color-home-hero-gradient, url('/assets/homeHeroBanner.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  @include container;
}

.content {
  color: $color-white;
}
