.wrapper {
  @include appearanceAnimation;
  @include container;

  margin: $space-medium-xl auto;
}

.title {
  font-size: $fontSize-large-l;
  padding-bottom: $space-small-xxl;
  border-bottom: 1px solid $color-medium-grey;
}

.postsBlock {
  margin: $space-small-xxl $space-zero;
  max-width: 1147px;
  width: 100%;
  min-height: 2070px;
}

.controls {
  @include flex-center;
}

.buttonWrapper {
  @include flex-center;

  width: fit-content;
  padding: $space-zero $space-small-s;
}

.disabledPrevNextButton {
  @include maxSize;

  background: none;
  font-size: $fontSize-medium-l;
  font-weight: $fontWeight-xl;
  border: none;
  color: $color-medium-grey;

  &:hover {
    opacity: 0.6;
  }
}

.activePrevNextButton {
  @include maxSize;

  cursor: pointer;
  background: none;
  border: none;
  color: $color-dark-blue;
  font-weight: $fontWeight-xl;
  font-size: $fontSize-large-s;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
