.background {
  @include modalBackground;
}

.wrapper {
  @include maxSize;

  padding: $space-medium-s;
  background: $color-dark-blue;
  border-radius: 10px;
  max-height: 550px;
  max-width: 900px;
  position: relative;
}

.closeModalButton {
  position: absolute;
  cursor: pointer;
  font-size: $fontSize-small-xl;
  color: $color-red;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  top: 10px;
  right: 10px;
  transition: 0.3s;

  &:hover {
    color: $color-red;
    background-color: $color-white;
  }
}
