.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-laptop) {
    width: fit-content;
    margin: $space-zero auto;
  }
}

.postWrapper {
  max-width: 405px;
  width: 100%;
}

.imageWrapper {
  height: 300px;
  width: 100%;
  position: relative;
  margin-bottom: $space-small-xxl;

  @media (max-width: $breakpoint-mobile) {
    height: 230px;
  }
}

.info {
  font-size: $fontSize-small-l;
  font-weight: $fontWeight-m;
  line-height: 20px;
  font-family: var(--inter-font);
}

.postTittle {
  @include mediumTitle;

  margin-top: $space-zero $space-small-l;
}

.authorLink {
  @include purpleLink;
}

.description {
  @include descriptionText;
}
