.wrapper {
  @include container;
  @include appearanceAnimation;
}

.logoslist {
  @include flex-space-between;

  flex-wrap: wrap;
  padding: $space-large-m $space-zero;
  gap: 20px;

  @media (max-width: $breakpoint-mobile) {
    justify-content: center;
  }
}

.logoWrapper {
  @include flex-center-vertical;
}
