.wrapper {
  max-width: 296px;
  margin: 0 $space-small-s;
  border: 1px solid $color-medium-grey;
  flex: 5 2 200px;
  padding: $space-small-xxl;
  transition: 0.3s;

  &:hover {
    background: $color-yellow;
  }
}

.title {
  font-size: $fontSize-large-s;
  font-weight: $fontWeight-l;
  line-height: 40px;
  letter-spacing: -1px;
}

.description {
  @include descriptionText;
}

.imageWrapper {
  @include flex-center;

  height: 48px;
  width: 48px;
}
