.form {
  @include flex-center-horizontally;

  flex: 10 2 50%;
  min-width: 450px;
  width: 100%;
}

.inputsWrapper {
  width: fit-content;
  max-width: 323px;
  margin-right: $space-small-xl;
}

.input {
  background: transparent;
  color: $color-white;
  border: 1px solid $color-dark-grey;
  padding: $space-zero $space-small-xl;
  height: 45px;
  width: 100%;
  font-size: $fontSize-small-xl;
  font-family: var(--inter-font);
  margin-bottom: $space-small-s;
}

.textarea {
  background: transparent;
  color: $color-white;
  border: 1px solid $color-dark-grey;
  padding: $space-small-s $space-small-xl;
  width: 100%;
  font-size: $fontSize-small-l;
  font-family: var(--inter-font);
}

.formButton {
  @include yellowButton;
}

.errorMessage {
  color: $color-red;
  font-size: $fontSize-small-l;
  font-weight: $fontWeight-s;
}
