.wrapper {
  @include flex-center-vertical;

  justify-content: space-between;
  font-family: var(--inter-font);
  color: $color-white;
}

.headerTitle {
  cursor: pointer;
  font-size: $fontSize-medium-l;
  font-weight: 700;
}

.navWrapper {
  @include flex-center-vertical;
}

.linksWrapper {
  display: flex;
}

.itemLink {
  padding-left: $space-small-xl;
  font-size: $fontSize-small-xl;
  font-weight: 400;
  transition: 0.2s;

  &:hover {
    transform: scale(1.15);
    color: $color-yellow;
  }
}

.activeLink {
  padding-left: $space-small-xl;
  font-size: $fontSize-small-xl;
  font-weight: 400;
  transform: scale(1.15);
  color: $color-yellow;
}

.videoButton {
  @include button;

  margin-left: $space-small-xxl;
  color: $color-dark-blue;
  background: $color-white;
  padding: $space-zero $space-medium-s;
  transition: 0.2s;

  &:hover {
    background: $color-yellow;
  }
}
