.wrapper {
  width: 100%;
  max-width: 733px;
  display: flex;
  flex-direction: column;
}

.title {
  @include blockTitle;

  margin-bottom: $space-small-xxl;
}

.postWrapper {
  border: 1px solid rgba(244, 244, 244, 1);
  padding: $space-small-xxl;
  flex-grow: 1;
}

.imageWrapper {
  height: 352px;
  width: 100%;
  position: relative;
  margin-bottom: $space-small-xxl;
}

.info {
  font-size: $fontSize-small-l;
  font-weight: $fontWeight-m;
  line-height: 20px;
  font-family: var(--inter-font);
}

.postTittle {
  @include mediumTitle;

  margin-top: $space-small-l;
}

.authorLink {
  @include purpleLink;
}

.description {
  @include descriptionText;

  margin-top: $space-small-l;
  margin-bottom: $space-small-xxl;
}

.readMoreLink {
  @include yellowButtonWithDarkBg;
  @include flex-center;
}
