.wrapper {
  color: $color-white;
  height: 720px;
  width: 100%;
  background: $color-home-hero-gradient, url('/assets/homeHeroBanner.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: $breakpoint-mobile) {
    height: 100vh;
  }
}

.container {
  @include container;
  @include flex-center-vertical;

  height: 100%;
  padding: $space-large-xxl $space-large-s;

  @media (max-width: $breakpoint-tablet) {
    padding: $space-large-xxl $space-medium-l;
  }

  @media (max-width: $breakpoint-small-tablet) {
    padding: $space-large-xxl $space-small-xxl;
  }
}

.content {
  @include flex-direction-column;
  @include maxSize;

  max-width: 804px;
  height: fit-content;
  color: $color-white;
  font-family: var(--inter-font);
}

.subtitle {
  @include subtitle;
}

.title {
  font-family: var(--sen-font);
  font-size: $fontSize-large-xl;
  letter-spacing: -2px;
  line-height: 64px;
  margin: $space-small-xl $space-zero;

  @media (max-width: $breakpoint-laptop) {
    font-size: $fontSize-large-l;
  }

  @media (max-width: $breakpoint-tablet) {
    line-height: 50px;
    font-size: $fontSize-large-m;
    margin: $space-small-l $space-zero;
  }
}

.info {
  font-size: $fontSize-small-xl;

  @media (max-width: $breakpoint-tablet) {
    font-size: $fontSize-small-l;
  }
}

.authorNameLink {
  color: $color-yellow;

  &:hover {
    color: $color-red;
  }
}

.description {
  font-size: $fontSize-small-xl;
  font-weight: $fontWeight-s;
  line-height: 28px;
  margin: $space-small-l $space-zero;

  @media (max-width: $breakpoint-tablet) {
    font-size: $fontSize-small-l;
  }
}

.readMoreLink {
  @include flex-center;
  @include yellowButton;

  margin-top: $space-small-xxl;

  @media (max-width: $breakpoint-tablet) {
    margin-top: $space-small-xl;
  }
}
