.wrapper {
  @include flex-center-vertical;

  background: $color-dark-blue;
  height: 80px;
  padding-left: $space-medium-l;
  padding-right: $space-small-xxl;

  @media (max-width: $breakpoint-laptop) {
    padding: $space-zero;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 70px;
  }
}

.container {
  @include container;
}
