.wrapper {
  @include flex-center-horizontally;

  flex: 5 2 200px;
  height: 324px;
  flex-direction: column;
  background: $color-light-grey;
  padding: $space-small-xxl;
  transition: 0.3s;
  gap: 5px;
  max-width: 296px;

  &:hover {
    background: $color-light-yellow;
  }
}

.avatar {
  position: relative;
  height: 128px;
  width: 128px;
  margin: $space-zero auto;
  margin-bottom: $space-small-l;
}

.fullName {
  @include flex-center-horizontally;
  @include mediumTitle;
}

.info {
  @include flex-center-horizontally;

  font-size: $fontSize-small-l;
  line-height: 20px;
  font-family: var(--inter-font);
  color: $color-medium-grey;
}

.socialsWrapper {
  @include flex-center-horizontally;

  margin-top: $space-small-l;
}

.socialLink {
  padding: $space-zero 13px;
  transition: 0.2s;
  filter: brightness(0) saturate(100%) invert(12%) sepia(9%) saturate(2299%) hue-rotate(196deg)
    brightness(94%) contrast(90%);

  &:hover {
    transform: scale(1.3);
  }
}
