.wrapper {
  background: rgba(35, 37, 54, 1);
  height: 80px;
}

.container {
  @include wrapper;

  font-family: var(--inter-font);
  color: $color-white;
  padding-right: 30px;
  padding-left: 56px;
  display: flex;
  align-items: center;
}

.headerTitle {
  font-size: 24px;
  font-weight: 700;
}

.navbar {
}
