.wrapper {
  @include container;
  @include flex-center-vertical;

  padding: $space-small-xxl $space-zero;
  justify-content: space-between;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.content {
  @include flex-direction-column;

  align-items: center;
  max-width: 624px;
  margin-left: $space-small-xxl;

  @media (max-width: $breakpoint-tablet) {
    margin-left: $space-zero;
  }
}

.subtitle {
  @include subtitle;

  color: $color-purple;
  width: 100%;
}

.imageWrapper {
  max-width: 490px;
  height: 318px;
  width: 100%;
  position: relative;
  margin-bottom: $space-small-xxl;

  @media (max-width: $breakpoint-laptop) {
    max-width: 320px;
    height: 220px;
  }
}

.postTittle {
  @include blockTitle;

  width: 100%;
  margin-top: $space-small-xl;

  @media (max-width: $breakpoint-mobile) {
    margin-top: $space-small-m;
  }
}

.description {
  @include descriptionText;

  margin-top: $space-small-l;
  margin-bottom: $space-small-xxl;

  @media (max-width: $breakpoint-mobile) {
    line-height: 24px;
    margin-top: $space-small-m;
    margin-bottom: $space-small-l;
  }
}
