.wrapper {
  @include container;

  position: relative;
  padding-top: $space-large-xxl;
}

.bannerWrapper {
  @include maxSize;

  position: relative;
  height: 705px;
  max-width: 949px;
}

.content {
  @include maxSize;

  padding: $space-large-s;
  position: absolute;
  bottom: 0;
  right: 0;
  background: $color-white;
  max-width: 706px;
  height: fit-content;
}

.subtitle {
  font-size: $fontSize-small-xl;
  letter-spacing: 3px;
  font-family: var(--inter-font);
}

.title {
  font-weight: $fontWeight-l;
  font-size: $fontSize-large-l;
  letter-spacing: -2px;
  line-height: 64px;
  margin-top: $space-small-xl;
}

.description {
  @include descriptionText;

  margin-top: $space-small-l;
  margin-bottom: $space-small-xxl;
}

.ourStoryLink {
  @include yellowButtonWithDarkBg;
  @include flex-center;
}
