.wrapper {
  @include container;
  @include flex-center-horizontally;
}

.content {
  @include flex-direction-column;

  padding: $space-large-xxl $space-zero;
  max-width: 414px;
  width: 100%;
}

.title {
  font-size: $fontSize-large-m;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
}

.description {
  @include descriptionText;

  text-align: center;
}

.joinUsLink {
  @include yellowButtonWithDarkBg;
  @include flex-center;

  margin: $space-zero auto;
  margin-top: $space-small-xxl;
}
