.panel {
  @include flex-space-between;
}

.message {
  font-size: $fontSize-medium-l;
  line-height: 32px;
  font-weight: $fontWeight-l;
  height: 256px;
  padding-bottom: $space-small-s;
  transition: transform 0.5s ease-in-out;
}

.author {
  display: flex;
}

.avatar {
  @include userAvatar;
}

.info {
  display: flex;
  flex-direction: column;
}

.fullName {
  @include smallTitle;
}

.adress {
  font-family: var(--inter-font);
  color: $color-medium-grey;
}

.controls {
  display: flex;
}

.buttonWrapper {
  @include flex-center;

  height: 62px;
  width: 82px;
}

.disabledPrevNextButton {
  @include maxSize;

  font-size: $fontSize-large-s;
  font-weight: $fontWeight-xl;
  height: 48px;
  width: 48px;
  border: none;
  background: $color-white;
  border-radius: 50px;

  &:hover {
    opacity: 0.6;
  }
}

.activePrevNextButton {
  @include maxSize;

  cursor: pointer;
  height: 62px;
  width: 62px;
  border: none;
  color: $color-white;
  font-weight: $fontWeight-xl;
  font-size: $fontSize-large-m;
  background: $color-dark-blue;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
